.WidgetCard {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 100%;
  border-radius: 4px;
  background-color: rgb(251, 252, 254);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.headerInReadOnlyMode {
  justify-content: center;
}
.body {
  flex: 1;
  height: calc(100% - 20px);
}
.title {
  font-weight: bold;
  justify-content: center;
  // text-align: center;
}

.WidgetCardInEditMode {
  cursor: grab;
}
.WidgetCardInEditMode:hover {
  border: 1px solid rgb(74, 200, 161);
}
